<div class="container">
    <div class="p1">
        <h2>About</h2>
        <span class="bar mb-5"></span>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <picture>
            <img src="assets/images/about.jpg" alt="about.jpg" class="img-fluid">
            </picture>
            <div class="d-flex justify-content-center">
                <a href="#" class="link"><i class="bi bi-linkedin"></i></a> 
                <a href="#" class="link"><i class="bi bi-github"></i></a>  
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <h3>Web and mobile application developer</h3>
            <p class="font-italic"> Interested in new technologies and working methods. I like to come up with
                ideas that to permit to improve business processes. <br>Passionate about development <b>
                    Back-End</b> and <b>Front-End</b>. </p>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>
                            <i class="bi bi-geo-alt-fill icon"></i>
                            <strong> Mobile throughout USA</strong>
                        </li>
                        <li>
                            <i class="bi bi-buildings-fill icon"></i>
                            <strong>Columbus, USA</strong>
                        </li>
                        <li>
                            <i class="bi bi-envelope-fill icon"></i>
                            <strong>divyap548@gmail.com</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>
                            <i class="bi bi-calendar-date icon"></i>
                            <strong>31 Years</strong>
                        </li>
                        <li>
                            <i class="bi bi-mortarboard-fill icon"></i>
                            <strong>Bachelor of Technology CSE</strong>
                        </li>
                        <li>
                            <i class="bi bi-pc-display-horizontal icon"></i>
                            <strong>CDI contract search</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <p>I am looking for an innovative and user-centric company to best meet the needs customer, from his idea to the final
            delivery of his project, or participate in the improvement of a project existing.</p>
        </div>
    </div>
</div>