<div class="container">
    <div class="p1">
        <h2>Portfolio</h2>
    </div>
    <span class="bar mb-5"></span>
    <div class="row m-auto">
        <div class="col-lg-4 col-sm-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
               <div class="card-header d-flex flex-column" style="height: 300px; width: 100%;">
                <div class="img-wrap" style="height: 300px; width: 100%; background-image: url('assets/images/Team-Traveler.jpg');"></div>
               </div>
                <div class="card-body">
                    <h3 class="card-title">Team Traveler</h3>
                    <h5 class="card-title"><strong>Technologies:</strong></h5>
                    <p class="card-text">Android Studio, Java, FireBase, MVP, <br> NoSql</p>
                    <div class="d-flex flex-row justify-content-center">
                        <a href="#" class="btn btn-primary me-3">Source Code</a>
                        <button type="button" class="btn btn-primary"><span>+</span>Project detail</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
               <div class="card-header d-flex flex-column" style="height: 300px; width: 100%;">
                <div class="img-wrap" style="height: 300px; width: 100%; background-image: url('assets/images/Mautic-Monitoring.jpg');"></div>
               </div>
                <div class="card-body">
                    <h3 class="card-title">Mautic Monitoring</h3>
                    <h5 class="card-title"><strong>Technologies:</strong></h5>
                    <p class="card-text">Android Studio, Java, Rx_Java, Retrofit, MVP, Rest</p>
                    <div class="d-flex flex-row justify-content-center">
                    <a href="#" class="btn btn-primary me-3">Source Code</a>
                    <button type="button" class="btn btn-primary"><span>+</span>Project detail</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
               <div class="card-header d-flex flex-column" style="height: 300px; width: 100%;">
                <div class="img-wrap" style="height: 300px; width: 100%; background-image: url('assets/images/Pokedex.jpg');"></div>
               </div>
                <div class="card-body">
                    <h3 class="card-title">Pokedex</h3>
                    <h5 class="card-title"><strong>Technologies:</strong></h5>
                    <p class="card-text">Java, J2EE, SpringBoot, TDD, MySQL, BootStrap, Services, Deploiment</p>
                    <div class="d-flex flex-row justify-content-center">
                    <a href="#" class="btn btn-primary me-3">Source Code</a>
                    <button type="button" class="btn btn-primary"><span>+</span>Project detail</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
               <div class="card-header d-flex flex-column" style="height: 300px; width: 100%;">
                <div class="img-wrap" style="height: 300px; width: 100%; background-image: url('assets/images/Zinedine-BENKHIDER.jpg');"></div>
               </div>
                <div class="card-body">
                    <h3 class="card-title">Portfolio</h3>
                    <h5 class="card-title"><strong>Technologies:</strong></h5>
                    <p class="card-text">Angular11, Html5, CSS, TypeScript, <br> BootStrap</p>
                    <div class="d-flex flex-row justify-content-center">
                    <a href="#" class="btn btn-primary me-3">Source Code</a>
                    <button type="button" class="btn btn-primary"><span>+</span>Project detail</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
               <div class="card-header d-flex flex-column" style="height:300px; width: 100%;">
                <div class="img-wrap" style="height: 300px; width: 100%; background-image: url('assets/images/riddle.jpg');"></div>
           </div>
                <div class="card-body">
                    <h3 class="card-title">Transfer Riddle</h3>
                    <h5 class="card-title"><strong>Technologies:</strong></h5>
                    <p class="card-text">Java, J2EE(Web Services), JavaScript, Html5, CSS, BootStrap </p>
                    <div class="d-flex flex-row justify-content-center">
                    <a href="#" class="btn btn-primary me-3">Source Code</a>
                    <button type="button" class="btn btn-primary"><span>+</span>Project detail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>