<div class="container">
    <div class="p1">
        <h2>Skills</h2>
    </div>
    <span class="bar mb-5"></span>
    <div class="row">
        <div class="col-lg-4">
            <h5 class="h5"><strong>Technologies</strong></h5>
            <div id="skillgraph">
                <div class="row skill-row">
                        <div class="label d-flex flex-row">
                            <span class="skillLabel">Java, J2EE, Spring, C#</span>
                            <span class="skill-percent">90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Segment" 
                            style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="row skill-row">
                        <div class="label d-flex flex-row">
                            <span class="skillLabel">PHP</span>
                            <span class="skill-percent">70%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 70%" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="row skill-row">
                        <div class="label d-flex flex-row">
                            <span class="skillLabel">Android</span>
                            <span class="skill-percent">90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 90%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="row skill-row">
                        <div class="label d-flex flex-row">
                            <span class="skillLabel">Python, C++</span>
                            <span class="skill-percent">70%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 70%" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="row skill-row">
                        <div class="label d-flex flex-row">
                            <span class="skillLabel">JavaScript, BootStrap, Angular</span>
                            <span class="skill-percent">90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 90%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <h5 class="h5"><strong>Tools</strong></h5>
            <div id="skillgraph" class="panel panel-default">
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">Git</span><span class="skill-percent">90%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">Office</span>
                        <span class="skill-percent">90%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">Linux, Windows</span>
                        <span class="skill-percent">70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">MySql, PgSql</span>
                        <span class="skill-percent">90%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">Docker, Kubernetes</span>
                        <span class="skill-percent">50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 50%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="h5"><strong>Methodologies</strong></h5>
            <div id="skillgraph" class="panel panel-default">
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">Scrum</span>
                        <span class="skill-percent">70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">Uml</span>
                        <span class="skill-percent">90%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">Disign Thinking</span>
                        <span class="skill-percent">70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">TDD</span>
                        <span class="skill-percent">90%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="row skill-row">
                    <div class="label d-flex flex-row">
                        <span class="skillLabel">DevOps</span>
                        <span class="skill-percent">50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Segment" style="width: 50%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div> 
            </div> 
        </div> 
    </div>
</div>